@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

html, body, #root {
  min-height: 100%;
}

html, body {
  background-color: rgb(255 255 255);
}

html.dark, html.dark body {
  background-color: rgb(2 6 23);
}

.logo {
  font-family: 'Fleur De Leah', cursive;
}

